.navbar {
  padding: 20px;
  background-color: rgb(221, 221, 221);
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

/*ESTILOS GENERALES**/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/*HERO**/

.hero {
  background-color: rgb(2, 32, 46);
  min-height: 450px;
  text-align: center;
  border: 40px;
  align-items: center;
}
.hero-center h1 {
  font-size: 50px;
  align-items: center;
  color: antiquewhite;
  font-family: "Yeseva One", cursive;
  border: 20px;
  text-align: center;
  margin: 5px;
}

.hero-center h2 {
  font-size: 25px;
  color: rgb(243, 242, 242);
  font-family: "Montserrat", sans-serif;
  border: 20px;
  text-align: center;
  align-items: center;
  margin: 5px;
}

.hero-imagen-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}

.boton-ver {
  font-size: 15px;
  margin: 10px;
  font-family: "Quicksand", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(221, 221, 221);
  border: 10px;
}

.seccion-obscura {
 background-color: rgb(2, 32, 46);
  text-align: center;
  border: 10px;
  padding: 20px;
  color:rgb(221, 221, 221);
}

.seccion-clara {
  background-color: rgb(221, 221, 221);
  text-align: center;
  color: rgb(2, 32, 46);
  border: 20px;
  padding: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.seccion-media {
  background-color: rgb(187, 187, 187);
  text-align: center;
  border: 20px;
  color: rgb(2, 32, 46);
  border: 10px;
  padding: 70px;
}
.seccion-titulo {
  font-family: "Yeseva One", cursive;
  padding: 10px;
  text-align: center;
  font-size:60px;
}
.seccion-texto {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  padding: 20px;
  border: 10px;
  padding: 60px;
}

/*EXPERIENCIA**/
.seccion-experiencia {
  padding: 40px;
  color: black;
  border: 40px;
}
.experiencia .row div {
  padding: 20px;
  height: 550px;
  border: 10px;
  color: rgb(221, 221, 221);
  margin: auto;

}
.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px, 10px, 20px, 10px;
  font-family: "Yeseva One", cursive;
  color: black;
  border: 20px;
  display: center;
}

.experiencia-texto {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  color: rgb(2, 32, 46);
  border: 20px;
  padding: 20px;
  margin-bottom: 40px;
}

/* DISEÑO**/

.diseño-titulo {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  font-family: "Yeseva One", cursive;
  color: rgb(221, 221, 221);
}
.diseño-texto {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

/*REFERENCIAS**/

.seccion-referencias {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: rgb(2, 32, 46);
  text-align: center;
  align-items: center;
  background-color: rgb(221, 221, 221);
  text-align: center;
  border: 20px;
  color: rgb(2, 32, 46);
  border: 10px;
  padding: 20px;
  margin: auto;
}
.referencias {
  display: flex;
  margin: 30px;
  padding-block: 50px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: rgb(2, 32, 46);
  text-align: center;
  align-items: center;
  background-color: rgb(221, 221, 221);
  text-align: center;
  border: 20px;
  color: rgb(2, 32, 46);
  border: 10px;
}

.referencias-titulo {
  font-family: "Yeseva One", cursive;
  font-size: 20px;
  color: rgb(2, 32, 46);
  border: 40px;
  text-align: center;
  margin: 30px;
  padding-block: 30px;
}
.bi-file-person {
  font-size: 20px;
  color: black;
  border-radius: 50%;
}
.bi-phone {
  font-size: 20px;
  color: black;
  border-radius: 50%;
}
.bi-envelope-open-heart {
  font-size: 20px;
  color: black;
  border-radius: 50%;
}
.bi-instagram {
  font-size: 20px;
  color: black;
  border-radius: 50%;
}

/*VIDEO YOUTUBE**/
.video-remodelacion {
  color: rgb(221, 221, 221);
  background-color: rgb(2, 32, 46);
  text-align: center;
  border-color: 30px rgb(2, 32, 46);
}

/*FORMULARIO**/
.seccion-formulario {
  background-color: rgb(221, 221, 221);
  text-align: center;
  border: 20px;
  color: rgb(2, 32, 46);
  border: 10px;
  padding: 50px;
}
.contact-me {
  text-align: center;
  font-family: "Yeseva One", cursive;
  font-size: 50px;
}

.contact-text {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
}

/*FORMULARIO**/

.seccion-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}
.seccion-Mensaje {
  margin: 20px;
  font-size: 20px;
  padding: 15px;
}

.fa-address-card {
  font-size: 30px;
  color: black;
  border-radius: 50%;
}

.fa-mobile-screen-button {
  font-size: 30px;
  color: black;
  border-radius: 50%;
}
.fa-envelope {
  font-size: 30px;
  color: black;
  border-radius: 50%;
}

/*footer**/
footer {
  min-height: 500px;
}

.bi-balloon-heart {
  height: 80px;
  width: 80px;
  margin: 10px;
  font-size: 80px;
  text-align: center;
}

.footer-texto {
  font-size: 25px;
  padding: 20px;
  margin-bottom: 30px;
}

.icono-redes a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.icono-redes i {
  color: white;
  font-size: 30px;
  transition: 0.2s ease-in;
}

.icono-redes a:hover {
  background-color: white;
  border: 3px solid rgb(2, 32, 46);
}
.icono-redes a:hover i {
  color: rgb(2, 32, 46);
}

.derechos-de-autor {
  font-size: 15px;
  color: rgb(187, 187, 187);
  padding: 20px;
}
/* ADAPTABLE RESPONSIVO**/
@media screen and (mad-witch: 767px) {
  .living estilo1 img-fluid {
    max-width: 200px;
  }
}

.living estilo2 img-fluid {
  max-width: 200px;
}

.living estilo img-fluid {
  max-width: 200px;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
