.navbar {
  padding: 20px;
  background-color: rgb(221, 221, 221);
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

/*ESTILOS GENERALES**/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/*HERO**/

.hero {
  background-color: rgb(2, 32, 46);
  min-height: 450px;
  text-align: center;
  border: 40px;
  align-items: center;
}
.hero-center h1 {
  font-size: 50px;
  align-items: center;
  color: antiquewhite;
  font-family: "Yeseva One", cursive;
  border: 20px;
  text-align: center;
  margin: 5px;
}

.hero-center h2 {
  font-size: 25px;
  color: rgb(243, 242, 242);
  font-family: "Montserrat", sans-serif;
  border: 20px;
  text-align: center;
  align-items: center;
  margin: 5px;
}

.fotoperfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}

.boton-ver {
  font-size: 15px;
  margin: 10px;
  font-family: "Quicksand", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(221, 221, 221);
  border: 10px;
}

.seccion-obscura {
  background-color: rgb(2, 32, 46);
  text-align: center;
  border: 10px;
  padding: 20px;
  color: rgb(221, 221, 221);
}

.seccion-clara {
  background-color: rgb(221, 221, 221);
  text-align: center;
  color: rgb(2, 32, 46);
  border: 20px;
  padding: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.seccion-media {
  background-color: rgb(187, 187, 187);
  text-align: center;
  border: 20px;
  color: rgb(2, 32, 46);
  border: 10px;
  padding: 70px;
}
.seccion-titulo {
  font-family: "Yeseva One", cursive;
  padding: 10px;
  text-align: center;
  font-size: 60px;
}
.seccion-texto {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  padding: 20px;
  border: 10px;
  padding: 60px;
}

.boton-descuento{
  text-align: center;
  border: 20px;
  color: rgb(2, 32, 46);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

}

.toast-container{
  display: block;
}
.img-toast{
  display:block;
  height: 50%;
  width: 50%;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.me-auto{
  font-family: bold "Montserrat", sans-serif;
  display:flex;
  color:#bb2929;

}
.time{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display:block;
  color:black;
}
.toast-body{

  font-weight: bold;
  display:block;
  color:#304352;
  font-weight: bold;
  border: 2px;
  font-family: "Yeseva One", cursive;
  font-size: 20px;
}
/*EXPERIENCIA**/
.seccion-experiencia {
  padding: 40px;
  color: black;
  border: 40px;
}
.experiencia .row div {
  padding: 20px;
  height: 550px;
  border: 10px;
  color: rgb(221, 221, 221);
  margin: auto;
}
.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px, 10px, 20px, 10px;
  font-family: "Yeseva One", cursive;
  color: black;
  border: 20px;
  display: center;
}

.experiencia-texto {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: rgb(2, 32, 46);
  border: 20px;
  padding: 20px;
  margin-bottom: 40px;
  font-display: flex;
  display: inline-block;
}

.lista-desordenada {
  list-style: none;
}
.lista-desordenada::before {
  content: "❤";
  color: rgb(2, 32, 46);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
/* DISEÑO**/

.diseño-titulo {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  font-family: "Yeseva One", cursive;
  color: rgb(221, 221, 221);
}
.diseño-texto {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

/*REFERENCIAS**/

.seccion-referencias {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: rgb(2, 32, 46);
  text-align: center;
  align-items: center;
  background-color: rgb(221, 221, 221);
  text-align: center;
  border: 200px;
  color: rgb(2, 32, 46);
  border: 10px;
  padding: 20px;
  margin: auto;
}
.referencias {
  display: flex;
  margin: 70px;
  padding-block: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: rgb(2, 32, 46);
  text-align: center;
  align-items: center;
  background-color: rgb(221, 221, 221);
  text-align: center;
  color: rgb(2, 32, 46);
  border: 50px;

}

.referencias-titulo {
  font-family: "Yeseva One", cursive;
  font-size: 20px;
  color: rgb(2, 32, 46);
  border: 40px;
  text-align: center;
  margin: 30px;
  padding-block: 30px;
}
.bi-file-person {
  font-size: 20px;
  color: black;
  border-radius: 50%;
}
.bi-phone {
  font-size: 20px;
  color: black;
  border-radius: 50%;
}
.bi-envelope-open-heart {
  font-size: 20px;
  color: black;
  border-radius: 50%;
}
.bi-instagram {
  font-size: 20px;
  color: black;
  border-radius: 50%;
}
.con-carousel{
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.carousel {
  font-family: "Quicksand", sans-serif;
  height: 60%;
  width: 60%;
  justify-content: center;
  display: center;
  padding: 10px;
  margin: auto;
}
/*VIDEO YOUTUBE**/
.video-remodelacion {
  color: rgb(221, 221, 221);
  background-color: rgb(2, 32, 46);
  text-align: center;
  border-color: 30px rgb(2, 32, 46);
  padding: 30px;
}

/*FORMULARIO**/

.formulario {
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  padding: 40px;
  display: block;
  align-items: center;
  justify-content: center;
}
.title {
  font-family: "Yeseva One", cursive;
  font-size: 50px;
  color: rgb(2, 32, 46);
  text-align: center;
  padding: 20px;
}

.form_container {
  font-family: "Quicksand", sans-serif;
  background-color: rgba(255, 255, 255, 0.404);
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.formulario__label {
  display: block;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
}

.form_input {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  border-radius: 10px;
  border: 3px solid transparent;
  transition: 0.3s ease all;
  align-items: center;
  width: 50%;
  text-align: center;
}
.form_input:focus {
  border: 3px solid rgb(2, 32, 46);
  outline: none;
  box-shadow: 3px 0px 30px rgb(255, 255, 255 0.4);
}

.formulario-input-error {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  display: none;
  margin-bottom: 0;

}

.formulario-input-error-activo {
  display: block;
}

.formulario-input{
  width: 100%;
  text-align: center;
  align-items: center;
}

.form_input--mensaje{
  width: 50%;
  text-align: center;
  align-items: center;
  height: 70px;
}


.formulario-grupo-input {
  justify-content: center;
}

.formulario-validacion-estado {
  font-size: 40px;
  z-index: 100;
  opacity: 1;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  align-content: center;
  position: absolute;
  right: 28%;
  margin: 2px;
  visibility: hidden;
}

.formulario-validacion-estado-mensaje{
  font-size: 40px;
  z-index: 100;
  opacity: 1;
  position: absolute;
  right: 28%;
  margin-top: 13px;
  padding: 2px;
  visibility: hidden;
  
}

.formulario-mensaje-error {
  display: none;
  justify-content: center;
  gap: 10px;
  font-size: 25px;
  background-color: #304352;
  border-radius: 5px;
  color: #d7d2cc;
  height: 45px;
  text-align: center;
  width: 700px;
  align-items: center;
  margin-left: 370px;

}

.form__btn {
  width: 30%;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(2, 32, 46);
  color: #d7d2cc;
  border-radius: 10px;
  margin: 20px 20px 20px 10px;
  height: 60px;
  cursor: pointer;
}

.form__btn:hover {
  box-shadow: 3px 0px 30px rgb(99, 99, 99, 2);
}

.formulario-mensaje-exito {
  display: none;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  font-size: 25px;
}

.formulario-mensaje-exito-activo {
  display: flex;
}
/*ESTILOS DE VALIDACION DE FORMULARIO**/

.formulario-input-correcto .formulario-validacion-estado{
  color: rgb(35, 189, 4);

}
.formulario-input-correcto .formulario-validacion-estado{
  color: rgb(35, 189, 4);

}

.formulario-input-incorrecto .formulario-validacion-estado{
  color: #bb2929;

}

.formulario-input-incorrecto .formulario-validacion-estado-mensaje{
  color: #bb2929;

}

.formulario-input-incorrecto .form_input{
  border: 3px solid #bb2929;

}


/* BOTON REGRESAR**/
.dropdown{
  font-size: 25px;
  padding: 20px;
  font-family: "Quicksand", sans-serif;
  background-color: rgb(2, 32, 46);
  display: grid;
  place-content: center;
}

/*footer**/
footer {
  min-height: 500px;
}

.bi-balloon-heart {
  height: 80px;
  width: 80px;
  margin: 10px;
  font-size: 80px;
  text-align: center;
}

.footer-texto {
  font-size: 25px;
  padding: 20px;
  margin-bottom: 30px;
}

.icono-redes a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.icono-redes i {
  color: white;
  font-size: 30px;
  transition: 0.2s ease-in;
}

.icono-redes a:hover {
  background-color: white;
  border: 3px solid rgb(2, 32, 46);
}
.icono-redes a:hover i {
  color: rgb(2, 32, 46);
}

.derechos-de-autor {
  font-size: 15px;
  color: rgb(187, 187, 187);
  padding: 20px;
}
/* ADAPTABLE RESPONSIVO**/


